<div id="app">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <my-quote>...</my-quote>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <my-ip>...</my-ip>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <btc-value>...</btc-value>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-xs-4">
            <news>...</news>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-8">
            <h1>Display Pane</h1>
        </div>
    </div>
<div>